#pycharm
.idea/
.DS_Store
__pycache__/
*.py[cod]
*$py.class

#Django stuff
local_settings.py
*.sqlite3

# database migrations
*/migrations/*.py
!*/migrations/__init.py


这世上总有人会坚持：早睡早起
                    规律三餐
                    认真读书工作
                    坚持运动和控制情绪
                    自律温柔又专注
                    把平常的日子也过的津津有味


